.profile-container {
    text-align: center;
    margin-top: 50px;
}

input {
    margin: 20px;
    display: none;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 5px;
    margin-top: 20px;
}

label {
    background-color: yellowgreen;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

label:hover {
    background-color: rgb(70, 95, 20);
    color: white;
}